@charset "UTF-8";

@charset "UTF-8";

body {
	background-image: url(../IMG/15231700588263029_600_0.jpg);
	background-size: 40% ;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {    
	width: 12px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {    
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);    
	border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {    
	border-radius: 10px;    
	background: rgba(255,255,255,0.5);    
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {    
	background: rgba(255,255,255,1);
}

#wholeform {
	width: 900px;
	height: 500px;
	
	/*居中*/
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	
	background-color: rgba(0,0,0,0.7);
	border-radius: 5px;
	
	fon-size: 16px;
}

#colum {
	height: 60px;
	margin-top: 20px;
	
	font-size: 20px;
	font-weight: bold;
	color: white;
}

#form {
	width: 900px;
	height: 350px;
	margin-top: -50px;
	
	font-size: 20px;
	color: white;
	
	/*居中*/
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	
	overflow-y: auto;
}
#form table {
	width: 835px;
	
	/*居中*/
	text-align: center;
}
#form a:link {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
#form a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
}




#head {
	margin-top: 100px;
	text-align: center;
}
#head table {
	/*居中*/
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	
	color: white;
	font-size: 20px;
	font-weight: bold;
	
	border-spacing: 20px 10px;
}


#head input {
	/*边框*/
	border: 0px;
	border-radius: 3px;
	
	/*宽高*/
	padding: 5px 0px;
	width: 100px;
	
	font-size: 20px; 
}

#add {
	width: 100%;
	text-align: center;
}
#add button {
	background-color: #950000;
	
	width: 100px;
	height: 50px;
	
	font-size: 18px;
	font-weight: bold;
	color: white;
	
	border: 0px;
}


#button a:link {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
#button a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#button {
	width: 100px;
	
	margin-left: 400px;
	margin-top: 200px;
	
	/*置底*/
	z-index: 2;
	top: 0px;
	position: relative;
}
.but {
	background-color: #950000;
	
	width: 100px;
	height: 50px;
	
	border: 0px;
	text-align: center;
	font-size: 20px;
	color: white;
	font-weight: bold;
	
	margin-bottom: 20px;
}